
.header {
  position: sticky; 
  top: 0;
  background: white;
}

header{
  border-bottom-width: 1px !important;
  border-bottom: solid;
  border-color: #e4d6bd;
  
}

#texte{
  color:#816C61 !important;
  font-weight: 400;
  font-size: 20px;
}

